:is(
    #bundle-details-222
      .custom_text
      .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_fortnight_387449]"],
    #bundle-details-222
      .custom_text
      .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"],
    #bundle-details-222
      .custom_text
      .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"]
  ) {
  pointer-events: none;
  user-select: none;
}

#bundle-item-fields-222
  .field_placeholder_222_703d2c11-d469-4523-a431-60407e2a936a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#bundle-item-fields-222 .static_rich_text {
  width: 100%;
}

#bundle-item-fields-222 .custom_checkbox .control-label label {
  margin: 27px 5px !important;
  width: 150px !important;
}

#bundle-item-fields-222 .custom_checkbox .control-label label {
  content: "Lunch Break";
}

#bundle-item-fields-222 .control-element input[type="text"] {
  width: 250px !important;
  display: flex;
  flex-wrap: nowrap;
}

#bundle-item-fields-222 .control-element input[type="checkbox"] {
  margin: 30px 10px;
}

#bundle-item-fields-222
  .custom-field:has(.control-element > .required[type="text"]) {
  min-width: 75%;
  padding: 20px !important;
  background: linear-gradient(
    40deg,
    hsl(225deg 50% 50% / 34%) 80%,
    hsl(276deg 50% 50% / 42%)
  );
  border-radius: 3px;
  border: 1px solid hsl(276deg 50% 50% / 42%);
}

#bundle-details-222
  .custom_text
  .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"],
#bundle-details-222
  .custom_text
  .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"] {
  border-color: transparent;
  padding: 0 !important;
}

div.custom_text:has(
    .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"]
  ),
div.custom_text:has(
    .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"]
  ) {
  background: #ffffff;
  padding: 15px !important;
  border-radius: 10px;
  border: 1px solid #cdafe1;
}

.field_placeholder_222_703d2c11-d469-4523-a431-60407e2a936a.Yes {
  border: beige solid 1px;
  padding: 10px;
  border-radius: 10px;
  background: #f5f5dc33;
}
#bundle-details-222
  .custom_text
  .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"],
#bundle-details-222
  .custom_text
  .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"] {
  border-image: linear-gradient(
      40deg,
      hsl(225deg 50% 50% / 34%) 40%,
      hsl(276deg 50% 50% / 42%)
    )
    1;
  border-image-width: 4px;
  color: #414141;
}

div.custom_text:has(
    .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"]
  ),
div.custom_text:has(
    .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"]
  ) {
  background: #c0c9ea2e;
  padding: 15px !important;
}
#bundle-details-222
  .custom_text
  .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"],
#bundle-details-222
  .custom_text
  .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"] {
  border-image: linear-gradient(
      40deg,
      hsl(225deg 50% 50% / 34%) 40%,
      hsl(276deg 50% 50% / 42%)
    )
    1;

  color: #414141;
}

div.custom_text:has(
    .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_11_387449]"]
  ),
div.custom_text:has(
    .field.text[name="requested_item_values[222][requested_item_value_attributes][cf_total_hours_week_2_387449]"]
  ) {
  padding: 10px !important;
  border: 1px solid hsl(276deg 50% 50% / 42%);
  border-radius: 10px;
}
